@yellow: #e8f007;

.mixin (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .mixin(50px, 0px);
}
  
.footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .mixin(10px, 0px); 
}
  
.card-hotel {
    flex: 1 200px;
    .mixin(10px, 0px);
}
  
.btn-reserva {
    width: 100%;
    border-radius: 0px; 
}
  
.footer-address-icon {
    padding-right: 2px; 
}
  
.tab-content {
    padding-top: 10px; 
}
  